<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" lhref="#"><span></span></a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a routerLink="welcome" title="home page">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          </a>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Departments<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="api/departments">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <span> All</span>
              </a>
            </li>
            <li>
              <a routerLink="api/departments/add">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>  Add New</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>

    </div>
  </nav>

</div>


<div style="text-align:center">
  
  <router-outlet></router-outlet>
  <!--div>
    <div *ngFor="let msg of messages" >The each message: {{msg.msg}} and {{msg.data}}</div>
    <div *ngFor="let msg of messages"> The each message: {{msg}} </div>
  </div>
  
  <br> 

  <button (click)="sendMessage()">Send Message</button>
  <button (click)="clearMessage()">Clear Message</button> 
  
  <br>
  <app-template-syntax></app-template-syntax>

  <br>
  <li>
    <a routerLink="/api/departments">Departments</a>
  </li>
  <router-outlet></router-outlet-->
</div>




